body 
  background: black
  
.startup
  article
    background: black url('assets/animals-intro.png')
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: center;
  
  h1
    font-size: 6.5em;
    font-family: "Montserrat";
    font-weight: bold;
    text-align: center;
    margin: auto;
    margin-top: 3.3em;
    line-height: 1em;
    margin-bottom: 1.9em;
    
  .button
    border-radius: 5px;
    background-color: #DC611E;
    box-shadow: 0 0.23em #BA541C;
    margin-top: 1em;
    font-family: "Montserrat";
    font-size: 3.3em;
    text-transform: uppercase;
    width: 8.2em;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    line-height: 2.6em;
  
.animals
  ul
    width: 113em;
    margin: 18em auto 0;
    padding: 0;  
    li
      display: inline-block;
      background: url('assets/animals.png') no-repeat;
      background-size: 53em;      
      width: 10.6em;
      /* height: 12em; */
      font-size: 2.1em;
      text-align: center;
      padding-top: 11em;  
      &:nth-child(1)
        background-position-x: 0.0em;
      &:nth-child(2)
        background-position-x: -10.7em;
      &:nth-child(3)
        background-position-x: -21.4em;
      &:nth-child(4)
        background-position-x: -32.1em;
      &:nth-child(5)
        background-position-x: -42.9em;
      
  h2
    font-size: 2em;
    color: #DBDBDB;
    font-weight: lighter;
    text-align: center;
    margin-top: 3em;

.vision
  article
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  footer
    position:absolute;
    left:0
    right:0
    bottom:0
    height:7em;
    font-size:2em;
    text-transform:uppercase
    
    .info
      text-align: center;
      padding-left: 19.7em;
      padding-top: 4em;
      background: url("assets/info.png") no-repeat;
      background-position-x: 27em;
    .back
      float: right;
      margin-right: 4.8em;
      display: block;
      margin-top: 4.1em;
  header
    display:none
    


      

  