body 
  background: black
  
.startup
  article
    background: black url('assets/animals-intro.png')
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 0;
  
  h1
    font-size: 3.9em;
    font-family: "Montserrat";
    font-weight: bold;
    text-align: center;
    margin: auto;
    margin-top: 3.9em;
    line-height: 1em;
    margin-bottom: 1.9em;

    
  .button
    border-radius: 5px;
    background-color: #DC611E;
    box-shadow: 0 0.23em #BA541C;
    margin-top: 1em;
    font-family: "Montserrat";
    font-size: 2em;
    text-transform: uppercase;
    width: 8.2em;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    line-height: 2.6em;
  
.animals
  ul
    width: 55em;
    margin: 8em auto 0;
    padding: 0;
    font-size: 1.3em;
    font-weight: lighter;
    li
      display: inline-block;
      background: url('assets/animals.png') no-repeat;
      background-size: 53em;      
      width: 10.6em;
      /* height: 12em; */
      font-size: 1em;
      text-align: center;
      padding-top: 11em;  
      &:nth-child(1)
        background-position-x: 0.0em;
      &:nth-child(2)
        background-position-x: -10.7em;
      &:nth-child(3)
        background-position-x: -21.4em;
      &:nth-child(4)
        background-position-x: -32.1em;
      &:nth-child(5)
        background-position-x: -42.9em;
      
  h2
    font-size: 1.23em;
    color: #DBDBDB;
    font-weight: lighter;
    text-align: center;
    margin-top: 3em;

.vision
  article
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  footer
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 7em;
    font-size: 1.26em;
    text-transform: uppercase;
    background: #000;
    height: 6em;
    nav
      margin-top: -2.7em;
      .info
        text-align: center;
        padding-left: 19.7em;
        padding-top: 4em;
        background: url("assets/info.png") no-repeat;
        background-position-x: 45%;
        background-size: 5em;        
      .back
        float: right;
        margin-right: 4.8em;
        display: block;
        margin-top: 4.1em;
      .restart
        float: left;
        margin-left: 4.8em;
        display: block;
        margin-top: 4.1em;
  video, canvas, div.extra
    position:absolute
    top:0
    left:0
    bottom:0
    right:0
  
  header
    z-index: 9;
    position: relative;
    
    &.camera 
      >h2 
        background-image: url("assets/camera.png");
        width: 4em;
        height: 4em;
        float: right;
        margin-right: 2em;
        background-size: 4em;
        margin-right: 5em;
        
  section
    width: 24em;
    margin: 1em auto;
    background: #000;
    z-index: 26;
    display: block;
    position: relative;
    padding: 3em 10em 3em 18em;

    font-size: 1.2em;  
    display: none;
    box-shadow: 0em 0.4em #333;
    border-radius: 0.5em;
    
    .image
      background: url("assets/animals.png") no-repeat;
      background-size: 53em;
      width: 10.6em;
      height: 10.6em;
      font-size: 1em;
      float: left;
      margin-left: -13.6em;
      &.image-0
        background-position-x: 0.0em;
      &.image-1
        background-position-x: -10.7em;
      &.image-2
        background-position-x: -21.4em;
      &.image-3
        background-position-x: -32.1em;
      &.image-4
        background-position-x: -42.9em;
          
  